.navbar {
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.logout-button {
  background-color: blue;
  color: #ffffff;

  width: 5vw;
}
.lin-item {
  text-decoration: none;
}

Link {
  text-decoration: none;
}
.header-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 13vw;
  align-items: ;

  text-decoration: none;
}
ul {
  list-style-type: none;
}
Link {
  text-decoration: none;
}
img {
  height: 6vh;
}
