.similar-job-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.first {
  display: flex;
  flex-direction: column;
}
.skill-item {
  display: flex;
  flex-direction: row;
}

.job-details-card {
  margin: 37px;
  background-color: #2c364c;
  padding: 37px;
}

.skill-set {
  margin: 29px;
}
* {
  margin: 0px;
}
.info-1 {
  display: flex;

  flex-direction: row;
}

.job-details-page {
  height: 100%;
  background-color: #000000;
}
