.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.img {
  height: 73px;
}
.form {
  display: flex;

  color: #ffffff;
  height: 55vh;
  padding: 33px;

  flex-direction: column;

  justify-content: space-around;
  align-items: center;

  background-color: #272727;
}
