.similar-job-item {
  width: 27vw;

  background-color: #262625;
  margin: 19px;
  padding: 15px;
  border-radius: 23px;

  min-height: 47vh;

  display: flex;

  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.link-item {
  color: #ffffff;
}
